.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px;
  padding: 0 16px;
}
.containerForm {
  border-radius: 4px;
  box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.5),
    10px 0 10px -10px rgba(0, 0, 0, 0.5), 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
/* .fields {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
} */

.label {
  display: block;
  margin-bottom: 4px;
  margin-top: 30px;
  font-size: 17px;
  font-weight: 300;
  color: white;
}
.title {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: white;
}
.positionIcon {
  position: relative;
}
.input {
  width: 400px;
  padding: 10px 40px 10px 20px;
  margin-bottom: 8px;
  outline: 1px solid transparent;
  border-radius: 4px;
  font-size: 15px;
  border: 2px solid #6a6969;
  background-color: rgba(255, 255, 255, 0.932);
}
.iconInp {
  position: absolute;
  right: 16px;
  top: 70%;
  transform: translateY(-100%);
  fill: #0b0b0f;
}
.btn {
  width: 400px;
  padding: 12px;
  border: none;
  margin-top: 30px;
  outline: 1px solid transparent;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  background-color: #141010;
  color: whitesmoke;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #f24e5e;
  color: #333333;
  border: 2px solid #141010;
  /* background-color: rgba(255, 0, 0, 0.872);
  border-color: rgb(255, 47, 0); */
}

.error {
  color: rgb(255, 0, 0, 0.872);
  height: 20px;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
}

/* .error {
  color: rgb(255, 0, 0, 0.872);
  font-size: 16px;
  position: absolute;
  top: 65%;
  left: 0;
  font-weight: bold;
} */
