/* .link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}

.link:active {
  color: #e84a5f;
} */
.container {
  display: flex;
  align-items: center;
  gap: 30px;
  text-decoration: none;
}

.link.active {
  padding: 30px 0px;
  position: relative;
  color: #f24e5e;
}

.link {
  display: inline-block;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  color: white;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  position: relative;
  cursor: pointer;
  text-decoration: none; /* Убираем подчеркивание */
}
.link:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px; /* Высота линии */
  background-color: black; /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s; /* Время эффекта */
}

.link:hover:after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px; /* Высота линии */
  background-color: red; /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s; /* Время эффекта */
}
