#root {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.underline-oneLink {
  color: #00bfff;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
.underline-one:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.5s;
}

.underline-one:hover:after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: red;
  transition: width 0.5s;
}
/* ____________________________ */
.neon-btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  cursor: pointer;
  font-size: 0.95em;
  line-height: 1;
  margin: 15px;
  padding: 10px 30px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border-color: #527c82;
  color: #fff;
  box-shadow: 0 0 40px 40px #527c82 inset, 0 0 0 0 #527c82;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.neon-btn:hover {
  color: #527c82;
  box-shadow: 0 0 10px 0 #527c82 inset, 0 0 10px 4px #527c82;
}
.neon-btn:hover,
.neon-btn:focus {
  outline: 0;
}
/* _______________  тінь тексту*/
.few-line-shadow {
  text-shadow: 1px 1px 0 #000000, 2px 2px 0 #777777, 3px 3px 0 #666666,
    4px 4px 0 #ffffff, 5px 5px 0 #555555, 6px 6px 0 #444444, 7px 7px 0 #333333,
    8px 8px 7px #111111;
}

.line {
  background: #479f0d;
  background: -webkit-linear-gradient(
    to bottom,
    #479f0d 11%,
    #4c880b 44%,
    #a4ef05 100%
  );
  background: -moz-linear-gradient(
    to bottom,
    #479f0d 11%,
    #4c880b 44%,
    #a4ef05 100%
  );
  background: linear-gradient(
    to bottom,
    #479f0d 11%,
    #4c880b 44%,
    #a4ef05 100%
  );
}
